.casilla				/*Crea la casilla */
{	
	width: 70px;
	height: 70px;
	text-align: center;
	float: left;

}
.fila{				/*Esta propiedad se encarga de cuiadrar al acabar la columna, es como una especie de /n*/
	width: 70px;
	height: 70px;
	float: center;
	font-size: 35px;
	margin-left: 275px;

}

.marco{					/*Es el marco donde colocamos las coordenadas numericas y alfabéticas */
	width: 70px;
	height: 70px;
	text-align: center;
	float: left;
	background-color: #5F4C0B;
	font-size: 35px;
	font-weight: 900;

}


.blanca					/* Propiedad secundaria para definir las celdas blancas*/
{
	background-color: #A4A4A4;

}
.negra					/* Propiedad secundaria para definir las celdas negras*/
{
	background-color: #000000;

}

.imagen{				/*Propiedad asignada a cada imagen de la figura*/
	height: 50;
	width: 50;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 5px;
}

.cuadrado{				/*Creamos el cuadrado del menú inferior*/
	border: 1px solid black;
	height: 120px;
	width: 698px;
	background-color: #848484;
	margin-top: 5px;
}


.posmenu{			
	position:absolute;
	float:right;
	left:750px;
	top:80px;
}

.posmenu2{
	position:absolute;
	float:right;
	left:750px;
	top:470px;
}

.menu{				/*Creamos el cuadrado del menú inferior*/

	border: 1px solid black;
	height: 300px;
	width: 73px;
}

.boton{
	position:absolute;
	float:right;
	left:750px;
	top:400px;
	height: 50px;
	width: 75px;
}

.boton2{
	position:absolute;
	float:right;
	left:840px;
	top:400px;
	height: 50px;
	width: 75px;
}

