.casilla				/*Crea la casilla */
{	
	width: 70px;
	height: 70px;
	text-align: center;
	float: left;

}
.fila{				/*Esta propiedad se encarga de cuiadrar al acabar la columna, es como una especie de /n*/
	width: 70px;
	height: 70px;
	float: center;

}

.marco{					/*Es el marco donde colocamos las coordenadas numericas y alfabéticas */
	width: 70px;
	height: 70px;
	text-align: center;
	float: left;
	background-color: #5F4C0B;
	font-size: 35px;
	font-weight: 900;

}


.blanca					/* Propiedad secundaria para definir las celdas blancas*/
{
	background-color: #A4A4A4;

}
.negra					/* Propiedad secundaria para definir las celdas negras*/
{
	background-color: #000000;

}

.imagen{
	height: 50;
	width: 50;
	background: red;
}